<template>
  <div class="home">
    <BlogPost :post="post" v-for="post in sampleBlogPost" :key="post.id" />
    <div class="blog-card-wrap">
      <div class="container">
        <!-- <h3>View More Recent Blogs</h3> -->
        <div class="blog-cards">
          <Cards :post="post" v-for="post in sampleBlogCards" :key="post.id" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BlogPost from '../components/BlogPost.vue';
import Cards from '../components/Cards.vue';

export default {
  name: "Home",
  components: { BlogPost, Cards },
  data() {
    return {
      sampleBlogPost: [
        // {
        //   title: "This is a Filler Title!",
        //   blogHTML: "This is a filler blog post title",
        //   blogCoverPhoto: "beautiful-stories",
        // },
        {
          title: "This is a Filler Title2!",
          blogHTML: "This is a filler blog post title",
          blogCoverPhoto: "designed-for-everyone",
        },
      ],
    };
  },
  computed: {
    sampleBlogCards() {
      return this.$store.state.sampleBlogCards
    },
  },
};
</script>

<style lang="scss" scoped>
.blog-card-wrapper {
  h3 {
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 32px;
  }
}

.updates {
  .container {
    padding: 100px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 800px) {
      padding: 125px 25px;
      flex-direction: row;
    }

    .router-button {
      display: flex;
      font-size: 14px;
      text-decoration: none;
      @media (min-width: 800px) {
        margin-left: auto;
      }
    }

    h2 {
      font-weight: 300;
      font-size: 32px;
      max-width: 425px;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      @media (min-width: 800px) {
        text-align: initial;
        font-size: 40px;
      }
    }
  }
}
</style>

